<p-toolbar class="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" class="mr-2" (click)="openNew()" />
        <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (click)="deleteSelectedAccounts()" [disabled]="!selectedAccounts || !selectedAccounts.length" />
    </ng-template>

    <ng-template #end>
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (click)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="accountList"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['id', 'name', 'description', 'currency', 'customerId']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedAccounts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Accounts </h5>
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Id</th>
            <th pSortableColumn="description" style="min-width:16rem">
                <div class="flex items-center gap-2">
                    Description
                    <p-sortIcon field="description" />
                </div>
            </th>
            <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                <div class="flex items-center gap-2">
                    Status
                    <p-sortIcon field="inventoryStatus" />
                </div>
            </th>
             <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                <div class="flex items-center gap-2">
                    Type
                    <p-sortIcon field="inventoryStatus" />
                </div>
            </th>
            <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                <div class="flex items-center gap-2">
                    Currency
                    <p-sortIcon field="inventoryStatus" />
                </div>
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-account>
        <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="account" />
                </td>
                <td style="min-width: 12rem">{{ account.id }}</td>
                <td style="min-width: 16rem">{{ account.name }}</td>
                <td style="min-width: 12rem">{{ account.description }}</td>
                <td style="min-width: 16rem">{{ account.accountType.id }}</td>
                <td style="min-width: 12rem">{{ account.currency }}</td>
                <td style="min-width: 16rem">{{ account.customerid }}</td>

            
                <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editAccount(account)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteAccount(account)" />
            </td>
        </tr>
    </ng-template>
</p-table>
